.row{
    display: flex;
    margin-top: 70px;
    margin-bottom: 40px;
}
.Quick_links h2{
    margin-left: -200px;
    font-size: 24px;
    font-weight: 900;
}
.Quick_links ul{
    margin-left: -170px;
    margin-top: 20px;
}
.Quick_links ul li{
    margin-top:10px;
    list-style-type: none;
    color: #263e3e;
    font-size: 19px;
    font-weight: 400;
    transition: 03.s;

}
.Legal ul{
    margin-left: 100px;
    margin-top: 20px;
}
.Legal h2{
    margin-left: 120px;
    font-size: 24px;
    font-weight: 900;

}
.Legal ul li{
    margin-top: 10px;
    list-style-type: none;
    font-size:19px ;
    font-weight: 400;
    color: #263e3e;

}


.foot_logo img{
    width: 18%;
    margin-left:290px;
}
.Quick_links ul li:hover{
    text-decoration: underline;
}
.Legal ul li:hover{
    text-decoration: underline;

}
.contact_us{
    margin-left: 130px;
}
.contact_us h2{
    margin-left: 50px;
     font-size: 24px;
    font-weight: 900;
}
.contact_us  i{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 35px;
    color: black;
}
.social_icons i{
    transition: 0.2s;
}
.fa-facebook:hover{
    color:#3b5998;
}
.fa-instagram:hover{
   color: #c32aa3;
}
.fa-whatsapp:hover{
    color: #25d366;
}
.fa-twitter:hover{
    color: #1da1f2;
}