* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #263e3e;
}

a {
    text-decoration: none;
}
button{
   cursor: pointer;
}

/* Style the heading  and navigation*/

.nav_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}
.dropbtn {
    /* background-color: #4CAF50; */
    color:#263e3e ;
    padding-right: 35px;
    font-size: 22px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: smaller;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  

.Navigation ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: -300px;
    padding: 35px;
    font-size: 22px;
    font-weight: 600;

}

.Navigation ul li a {
    margin-right: 50px;
    color: #263e3e;
    text-decoration: none;
    /* align-content: center; */
}

.Navigation ul li i {
    color: #263e3e;
    font-size: 28px;
}

.header-img img {
    width: 16%;
}

.header-img {
    margin-left: 200px;

}
#logout{
    padding: 10px 18px;
    background: #263e3e;
    color: white;
    font-weight: 700;
}
#button{
    padding: 10px 18px;
    background: #263e3e;
    color: white;
    font-weight: 700;
}

