* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}
 /* body {
    color: #263e3e;
}

a {
    text-decoration: none;
}
button{
   cursor: pointer;
}

/* Style the heading  and navigation*/

/* .nav_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}

.Navigation ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: -300px;
    padding: 35px;
    font-size: 22px;
    font-weight: 600;

}

.Navigation ul li a {
    margin-right: 50px;
    color: #263e3e;
    text-decoration: none;  */
    /* align-content: center; */

/*
.Navigation ul li i {
    color: #263e3e;
    font-size: 28px;
}

.header-img img {
    width: 16%;
}

.header-img {
    margin-left: 200px;

}  */

.container{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-form{
    width: 50%;
    height: 100%;
    margin: 20vh auto;
    margin-right: 340px;
    box-shadow: 1px 1px 6px #bbb;
}
#sign-form {
    width: 80%;
    padding: 5%;
    margin-left: 60px;
}

label:not(label:first-of-type) {
    display: block;
    margin: 15px 0 5px 0;
    font-size: 14px;
}

.sentence-agree {
    display: inline;
    font-size: 14px;
}

#submit {
    display: block;
    width: 60%;
    height: 45px;
    background-color:#143939 !important;
    color: #fff !important;
    font-size: 1rem;
    cursor: pointer;
    margin:5%;
    padding-left: 20px;
    border: 1px solid #cccccc;
    border-radius: 30px;
    /* margin:10px 0px 200px 300px;  */
}

#submit:hover {
    background-color:#143939 !important;
}

div.hr-left, div.hr-right {
    width: 30%;
    height: 1px;
    background-color: #cccccc;
}

p.guide-google {
    font-size: 14px;
    color: #cccccc;
    width: 40%;
    margin: auto 5px;
}

input:not(input#terms-agree) {
    background-color: #fff; 
    width: 100%;
    height: 45px;
    padding-left: 20px;
    border: 1px solid #cccccc;
    border-radius: 30px;
    color: #143939;
}

input:focus {
    outline: 1px solid #143939;
}

.google-sign-btn {
    width: 100%;
    height: 45px;
    border: 1px solid #cccccc;
    border-radius: 30px;
    outline: none;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.google-sign-btn:hover {
    background-color: #cccccc;
}

i.fa-google {
    font-size: 25px;
    margin-right: 5px;
    vertical-align: middle;  
    color: #143939;
}

.form-caption {
    color: #737373;
    margin-bottom: 30px;;
}

.star-required {
    color:#143939;
}

input[type=checkbox] {
    margin: 30px 0 30px 0;
    accent-color: #143939;
} 
 /* a{
    color:#143939;
    text-decoration: none;
    font-size: 14px;
}
a:hover {
    color:#143939 ;
}  */
.have-account-line {
    margin: 30px 0 30px 0;
    font-size: 14px;
}
.info {
    color: #737373;
    font-size: 14px;
}
.google-guide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}
    